/* Profile */
.profile #wrapper{
  padding-top:0;
}

/* Lists */
.post ul, 
.post ol {
  margin-left:20px;
}

ul{
  list-style-type: disc;
}

ul ul, ol ol, ul ol, ol ul{
  margin-bottom:0px;
}

/* Post Page */
 .post {
  margin: 0;
}

.post h2 {
  margin-bottom:10px;
  margin-top:20px;
  font-size:30px;
}

h3, h4,h5{
 color: #666;
}

#disqus_thread,
.dsq-brlink{
 margin-bottom:40px;
}

.dsq-brlink{
  display:block;
  margin-top:-35px;
}

#post-list.archive.readmore h3{
  margin-bottom:5px;
}